<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bx001.levelupsociety">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.LevelUpSociety">
        <activity android:name=".BadgeDetailActivity"></activity>
        <activity android:name=".ProgressionMapActivity" />
        <activity android:name=".AchievementActivity" />
        <activity
            android:name=".GroceryActivity"
            android:parentActivityName=".QrScannerActivity" />
        <activity
            android:name=".CartActivity"
            android:parentActivityName=".GroceryActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".QrScannerActivity" />
        <activity
            android:name=".BadgeActivity"
            android:parentActivityName=".HomepageActivity" />
        <activity android:name=".HomepageActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>